/*------------------------------------------------------------------------ 
	Copyright: 劉政皇
	Author: 劉政皇
	yisenliu@gmail.com
  ------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------
   Based on BlueTrip CSS Framework
   Mike Crittenden
   mike@capsizedesigns.com
   License - MIT or GPL (whichever suits you better)
----------------------------------------------------------------------- */
/* MASS RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	font-weight: inherit;
	font-style: normal;
	vertical-align:baseline;
	background:transparent;
}
img{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	/*vertical-align:baseline;取消本行可避免HTML編輯器插入圖片時，在IE下無法靠右對齊*/
	background:transparent;
}
ol, ul {list-style: none;}
body {line-height:1;}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
ins{text-decoration:none}
del{text-decoration:line-through}
table {border-collapse: collapse; border-spacing: 0;}
button::-moz-focus-inner {
    padding: 0;
    border: 0
}

/* HTML5 elements */
article,aside,audio,canvas,command,datalist,details,embed,figcation,figure,footer,header,hgroup,keygen,mark,menu,meter,nav,output,progress,rp,rt,ruby,section,source,summary,time,video,wbr{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	font-weight: inherit;
	font-style: normal;
	vertical-align:baseline;
	background:transparent;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {     display:block;}
:focus { outline: 0; }
a:hover, a:active { outline: none; }


/* ----- Font Face ----- */
@font-face {
	font-family: Neuton;
	font-style: normal;
	font-weight: 400;
	src: url(../webfonts/cVNn68S7F5XDg8YilesTjA.eot);
	src: local('Neuton Regular'), local('Neuton-Regular'), url(../webfonts/cVNn68S7F5XDg8YilesTjA.eot) format('embedded-opentype'), url(../webfonts/FWmpGWvJ4R8gbr0i3io5KQ.woff) format('woff');
}
@font-face {
	font-family: Neuton;
	font-style: normal;
	font-weight: 700;
	src: url(../webfonts/MK-qWv3o5LiGs6rxlk2eu_Y6323mHUZFJMgTvxaG2iE.eot);
	src: local('Neuton Bold'), local('Neuton-Bold'), url(../webfonts/MK-qWv3o5LiGs6rxlk2eu_Y6323mHUZFJMgTvxaG2iE.eot) format('embedded-opentype'), url(../webfonts/MK-qWv3o5LiGs6rxlk2euz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
	font-family: 'Fredericka the Great';
	font-style: normal;
	font-weight: 400;
	src: url(../webfonts/7Es8Lxoku-e5eOZWpxw18kLzRiPHQLkuFZv2gk0ljvI.eot);
	src: local('Fredericka the Great'), local('FrederickatheGreat'), url(../webfonts/7Es8Lxoku-e5eOZWpxw18kLzRiPHQLkuFZv2gk0ljvI.eot) format('embedded-opentype'), url(../webfonts/7Es8Lxoku-e5eOZWpxw18vc3vBAn7YvtW9hNjxWZBR0.woff) format('woff');
}
@font-face {
	font-family: 'Fjalla One';
	font-style: normal;
	font-weight: 400;
	src: url(../webfonts/rxxXUYj4oZ6Q5oDJFtEd6lQlYEbsez9cZjKsNMjLOwM.eot);
	src: local('Fjalla One'), local('FjallaOne-Regular'), url(../webfonts/rxxXUYj4oZ6Q5oDJFtEd6lQlYEbsez9cZjKsNMjLOwM.eot) format('embedded-opentype'), url(../webfonts/rxxXUYj4oZ6Q5oDJFtEd6hsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

html { }
body {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: rgba(0,0,0,.2);
	color: #555;
	font-family: 'Arial Unicode MS', Arial, STHeitiTC-Medium, 'LiHei Pro', '儷黑 Pro', \5FAE\8EDF\6B63\9ED1\9AD4, '微軟正黑體', '新細明體', serif;
	font-size: 100%;
	line-height: 1.8;
	background: url(../images/tex2res5.png) repeat;
	font-style: normal;
	font-weight: 400;
}
h1 {
	font-family: 'Fredericka the Great', 'Fjalla One', 'Arial Unicode MS', Arial, STHeitiTC-Medium, 'LiHei Pro', '儷黑 Pro', \5FAE\8EDF\6B63\9ED1\9AD4, '微軟正黑體',  sans-serif;
	font-size: 1.4em;
	letter-spacing: 4px;
}
h2 {
	font-family: Neuton, Georgia, serif;
	font-size: 1.3em;
	letter-spacing: 3px;
	line-height: 150%;
}
h3 {
	font-family: 'Fjalla One', AvenirNextCondensed-DemiBold, 'Arial Unicode MS', Arial, 'LiHei Pro', '儷黑 Pro', \5FAE\8EDF\6B63\9ED1\9AD4, '微軟正黑體', STHeitiTC-Medium, sans-serif;
	font-size: 1.2em;
	letter-spacing: 2px;
	line-height: 120%;
}
h4 {
	font-family: 'Fjalla One', AvenirNextCondensed-DemiBold, 'Arial Unicode MS', Arial, 'LiHei Pro', '儷黑 Pro', \5FAE\8EDF\6B63\9ED1\9AD4, '微軟正黑體', STHeitiTC-Medium, sans-serif;
	font-size: 1em;
	letter-spacing: 2px;
}
img, embed, object, video { max-width: 100%; }
input, select {
	color: #555;
	-webkit-appearance: none;
}
a:link {
	color: #339999;
	text-decoration: none;
}
a:visited { color: #339999; text-decoration: none;}
a:hover {
	color: #F60;
	text-decoration: none;
}
a:active { color: #339999; }
/*:root * { filter: none !important; }*/

/* ----- SELECTION COLORS ----- */
::selection { background: rgba(0,0,0,.2); }
::-moz-selection {background: rgba(0,0,0,.2);}
::-webkit-input-placeholder {color: #ccc;}
::-webkit-search-cancel-button {-webkit-appearance: searchfield-cancel-button !important;}
img::selection { background: transparent; }
img::-moz-selection {background: transparent;}
