/*
 *	Copyright: 劉政皇
 *	Author: 劉政皇
 *	yisenliu@gmail.com
*/

i[class^="icon-"]{
	background-image: url(../images/icons.png);
	background-repeat: no-repeat;
	background-size: 320px 256px;
	height: 32px;
	width: 32px;
	display:inline-block;
	vertical-align:middle;
}
.icon-2x{
	width: 64px !important;
	height: 64px !important;
}
.icon-clear{
	margin-left: auto !important;
	margin-right: auto !important;
	display: block !important;
}


/*icon images*/
.icon-3d-animation				{ background-position: -32px -160px; }
.icon-3ds-max					{ background-position: -192px -160px; }
.icon-arrow-down				{ background-position: -192px -192px; }
.icon-close						{ background-position: -256px -64px; }
.icon-css						{ background-position: -32px -192px; }
.icon-dreamweaver				{ background-position:-96px -160px; }
.icon-earth						{ background-position: -64px -96px; }
.icon-email						{ background-position: -64px -224px; }
.icon-facebook					{ background-position: 0px -224px; }
.icon-flash						{ background-position: -128px -160px; }
.icon-flash-animation			{ background-position: 0px -160px; }
.icon-front-end-programing		{ background-position: -160px -128px; }
.icon-graphic-design			{ background-position: -96px -128px; }
.icon-home						{ background-position: 0px -96px; }
.icon-html						{ background-position: 0px -192px; }
.icon-illustrator				{ background-position: -64px -160px; }
.icon-jquery					{ background-position: -64px -192px; }
.icon-logo						{ background-position: 0px 0px;width: 90px !important;height: 90px !important;}
.icon-logo:hover				{ background-position: -96px 0px; }
.icon-list						{ background-position: -224px -192px; }
.icon-maya						{ background-position: -224px -160px; }
.icon-mockup					{ background-position: -224px -128px; }
.icon-phone						{ background-position: -96px -224px; }
.icon-photoshop					{ background-position: -160px -160px; }
.icon-portfolio					{ background-position: -32px -96px; }
.icon-responsive-web-design		{ background-position: -32px -128px; }
.icon-single-page-application	{ background-position: -192px -128px; }
.icon-skills					{ background-position: -96px -96px; }
.icon-skype						{ background-position: -32px -224px; }
.icon-shield					{ background-position: -128px -192px; }
.icon-target					{ background-position: -96px -192px; }
.icon-test-tube					{ background-position: -64px -128px; }
.icon-time						{ background-position: -160px -192px; }
.icon-visitcard					{ background-position: -128px -96px; }
.icon-user-experience			{ background-position: 0px -128px; }
.icon-web-visiual-design		{ background-position: -128px -128px; }


/*clients logo*/
i[class^="clients-"]{
	background-image: url(../images/clients-logo.png);
	background-repeat: no-repeat;
	background-size: 600px 400px;
	height: 90px;
	width: 60px;
	display: block;
	margin: 0;
	text-indent: -500%;
	overflow: hidden;
	white-space:nowrap;
}
.clients-2x{	width: 120px !important;}
.clients-3x{	width: 180px !important;}

.clients-mitsubishi-motors		{ background-position: 0px 0px; }
.clients-zynet					{ background-position: -60px 0px;}
.clients-royal-host				{ background-position: -180px 0px;}
.clients-nobel					{ background-position: -300px 0px;}
.clients-mos-burger				{ background-position: -420px 0px;}
.clients-ikea					{ background-position: -480px 0px;}
.clients-cvilux					{ background-position: 0px -100px;}
.clients-save					{ background-position: -120px -100px;}
.clients-senao					{ background-position: -60px -100px;}
.clients-mercedes-benz			{ background-position: -180px -100px;}
.clients-use					{ background-position: -360px -100px;}
.clients-pelican				{ background-position: -420px -100px;}
.clients-merrycafe				{ background-position: -540px -100px;}
.clients-qsquare				{ background-position: 0px -200px;}
.clients-rt-mart				{ background-position: -120px -200px;}
.clients-neogence				{ background-position: -240px -200px;}
.clients-mitsui-chemicals		{ background-position: -360px -200px;}
.clients-verico					{ background-position: -420px -200px;}
.clients-wayfong				{ background-position: -480px -200px;}
.clients-allianz				{ background-position: 0px -300px;}
.clients-cooler-master			{ background-position: -120px -300px;}
.clients-yamaha-motors			{ background-position: -180px -300px;}
@media only screen{
}


@media  
only screen and (min--moz-device-pixel-ratio: 2), 
only screen and (-moz-min-device-pixel-ratio: 2), 
only screen and (-o-min-device-pixel-ratio: 2/1), 
only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx){
i[class^="icon-"]{
	background-image: url(../images/icons@2x.png);
}
i[class^="clients-"]{
	background-image: url(../images/clients-logo@2x.png);
}
}


@media only screen and (max-width: 480px) {/*480px/30em below*/
.icon-logo{
	background-position: -192px 0px;
	width: 48px !important;
	height: 48px !important;
}
.icon-logo:hover{	background-position: -240px 0px;}
}