/*-----------------------------------------------------------------------
   Based on BlueTrip CSS Framework
   Mike Crittenden
   mike@capsizedesigns.com
   License - MIT or GPL (whichever suits you better)
----------------------------------------------------------------------- */


/* MASS RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	font-weight: inherit;
	font-style: normal;
	vertical-align:baseline;
	background:transparent;
}
img{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	/*vertical-align:baseline;取消本行可避免HTML編輯器插入圖片時，在IE下無法靠右對齊*/
	background:transparent;
}
ol, ul {list-style: none;}
body {line-height:1;}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
ins{text-decoration:none}
del{text-decoration:line-through}
table {border-collapse: collapse; border-spacing: 0;}
button::-moz-focus-inner {
    padding: 0;
    border: 0
}

/* HTML5 elements */
article,aside,audio,canvas,command,datalist,details,embed,figcation,figure,footer,header,hgroup,keygen,mark,menu,meter,nav,output,progress,rp,rt,ruby,section,source,summary,time,video,wbr{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	font-weight: inherit;
	font-style: normal;
	vertical-align:baseline;
	background:transparent;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {     display:block;}
:focus { outline: 0; }
a:hover, a:active { outline: none; }